.getintouch{
    background-color: #1e181070;
    padding: 45px 0;
}

.heading_getintouch02{
    margin-top: -35px;
    margin-left: 25px;
    font-size: 55px;
    text-transform: capitalize;
    text-decoration: underline;
    color: #fff;
}
.heading_getintouch01{
    margin-top: -40px;
    margin-bottom: 25px;
    margin-left: 25px;
    font-size: 20px;
    text-transform: capitalize;
    color: #fff;
}

.social, .Soft_skills, .web_links{
    margin: 0 15px;
}

.social h1, .Soft_skills h1, .web_links h1{
    color: #fff;
    margin-bottom: -5px;
    font-size: 25px;
}

.social, .Soft_skills, .web_links{
    list-style: none;
}

.get{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: -15px;
}

.new_logo{
    font-size: 20px;
    margin-left: 15px;
    margin-bottom: -28px;
    color: #fff;
    animation: new_logo .4s ease infinite;
}

@keyframes new_logo {
    0%{
        color: #ffaa00;
    }
    50%{
        color: #d30035;
    }
    100%{
        color: #004e72;
    }
}

.social li a, .Soft_skills li, .web_links li #link{
    font-size: 18px;
    line-height: 40px;
    color: #62615c;
    transition: .3s ease-in;
}

.social li a:hover, .web_links li #link:hover{
    color: #ffaa00;
}

@media (max-width:768px) {
    #getintouch{
        flex-direction: column;
        margin-left: -20px;
    }
    .getintouch{
        padding: 45px 110px;
        /* width: 87.7%; */
        max-width: 100%;
    }
    .get{
        text-align: center;
    }
    .get img{
        margin-left: 28%;
    }
    .heading_getintouch01{
        font-size: 18px;
        width: 100%;
    }
    .heading_getintouch02{
        margin-top: 2px;
        font-size: 26px;
    }
    .all_links{
        flex-direction: column;
    }
    .social, .Soft_skills, .web_links{
        text-align: center;
        /* margin-left: -10px; */
    }
}